{{extend 'layout.html' }}

<div id="home">
<h1>{{=info.first_name + " " + info.last_name}}'s Profile</h1>

<br><br>

<div id="floatleft">
{{=IMG(_id="propic",_src=URL('default','download',args=info.Pp),_alt="No Image Available")}}

<table id="rating" >
  <tr>
    <td>Rating</td>
    <td>{{if info.depend_rate!=-1:}}{{=info.depend_rate}}/5{{pass}}{{if info.depend_rate==-1:}}Not Rated{{pass}}</td>
  </tr>
    <tr>
    <td>No of votes</td>
    <td>{{=info.votes_no}}</td>
  </tr>
  <tr>
    <td>No of Trips</td>
    <td>{{=info.trips_no}}</td>
  </tr>
</table>
</div>

<div id="rt">
<h4 class="bold"> {{=info.first_name}} hails from {{if info.City is not None:}}{{=info.City}}{{pass}}{{else:}}a City{{pass}} in {{=info.Country}} and was born on <span>{{=info.dob}}</span>(YEAR-MM-DD)</h3>
<h4 class="bold"> Gender:{{=info.Gender}}</h4>

<br><br>
<h3> Contact {{=info.first_name}}</h3>
<table id="contacts">
  <tr>
    <td>Em@il</td>
    <td>{{=info.email}}</td>
  </tr>
  <tr>
    <td>Mobile</td>
    <td>{{=info.phone_no}}</td>
  </tr>
</table>
</div>
<div id="commentsdiv">
  <br><br>
   {{if ck==0:}}
  <h4>There have been no comments till date about {{=info.first_name}}</h4>
  {{pass}}
  {{if ck!=0:}}
  <h4>The recent comments about {{=info.first_name}}</h4>
  <table id="cmnt" class="table">
    {{for j in cms:}}
    <tr class="cmone">
      <td> <a href={{=URL('default','profile_view',args=udrid[cnt])}}>{{=IMG(_src=URL('default','download',args=img[cnt]),_alt="No image",_height="45em",_width="45em")}}</a></td>
      <td>{{=j.comm}}</td>
    </tr>
    <tr class="cmtwo">
      <td>{{=nms[cnt]}}
      <td>This comment was added on {{=j.time_of}} on {{=j.date_of}}</td>
    </tr>
    {{cnt=cnt+1}}
    {{pass}}
    {{pass}}
    </table>
</div>
</div>
<style>
  #rating{
  width: 30%;
  float: right;
  display: block;
  clear:both;
  padding: 10px 150px 10px 15px;
  border: solid black;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #ff8080;
  }

  #rating td{
  font-size: 15px;
  font-weight: bold;
  padding-left: 20px;
  }
      #home{
        margin-top:-100px;
        margin-left:261px;
        margin-right:120px;
 // background: #99ff99;
  height: 42em;
  overflow: scroll;
  }
  .col-md-12{

}

  #commentsdiv{
  clear: both;
  }
  #floatleft{
  display: block;
  float: right;
  width: 40%;
  margin-right: 5%;
  clear: both;
  box-shadow: 10px 10px 5px #8c8c8c;
  }

  #floatleft{
  background: white;
  }

  #rt{
  display: block;
  width: 45%;
  float: left;
  }

  #propic{
  width: 200px;
  heigth: 200px;
  display: block;
  margin: 30px 0px 0px 23%;
  border-radius: 70px 70px 70px 70px;
  box-shadow: 10px 10px 5px #8c8c8c;
  }

  #cmnt{
  width: 70%;
  margin-left: 5%
  }

  #contacts td{
  font-size: 20px;
  font-weight: bold;
  }

  .bold{
  font-weight: bold;
  }
</style>
